body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	color: #000;
	background-color: #F2F2F2;
	min-width: 1440px;
}
a{
	text-decoration: none;
}
.reset-style-size{
	list-style: none;
	margin: 0;
	padding: 0;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0 ,0 ,0 ,0);
}
/* header */
.main-header{
	display: flex;
	min-height: 545px;
	flex-direction: column;
	align-items: center;
}
.container-header{
	width: 1160px;
	display: flex;
	align-items: center;
	margin-top: 61px;
}
.header__logo{
	margin-top: -11px;
}
.header__logo:hover{
	opacity: 0.8;
}
.header__logo:focus{
	opacity: 0.3;
}
.header__menu, 
.header__recycle{
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	line-height: 30px;
}
.header__menu{
	display: flex;
    width: 437px;
    justify-content: space-between;
    margin-left: 202px;
    flex-wrap: wrap;
}
.header__recycle{
	margin-left: auto;
	position: relative;
}
.header__recycle img{
	margin-right: 25px;
	position: absolute;
    top: 7px;
    left: -41px;
}
.header__menu__link,
.header__recycle {
	color: #000;
}

.header__menu__link:hover,
.header__recycle:hover{
	color: #FB565A;
}

.header__menu__link:focus,
.header__recycle:focus{
	color: rgba(0, 0, 0, 0.3);
}

.header__menu__link:active,
.header__recycle:active{
	border-bottom: 2px solid red;
	margin-bottom: -2px;
}
.slider{
	position: relative;
}
.container-slider{
	width: 1160px;
}
.slider-controls{
	display: flex;
	position: absolute;
	left: 46%;
	bottom: 97px;
	width: 90px;
	height: 18px;
	justify-content: space-between;
	z-index: 1;
}
.slider-control-item{
	display: block;
	width: 18px;
	height: 18px;
	background-color: #fff;
	position: relative;
	border-radius: 50%;
}
.slider-control-item:hover::after{
	content: "";
    width: 6px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    border: 2px solid #c1c1c1;
}
.slider-item{
	display: none;
	padding: 73px 0 80px 0;
    position: relative;
}
.slider-item:nth-child(1){
	display: block;
}
.slider-item:nth-child(1){
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 431px 13px;
}
.slider-item:nth-child(2){
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.slider-item:nth-child(3){
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}
.slider-item h3{
	font-size: 55px;
    line-height: 55px;
    width: 520px;
    margin: 0;
    letter-spacing: 0.2px;
}
.slider-item p{
	max-width: 414px;
    margin-bottom: 40px;
    margin-top: 26px;
    line-height: 24px;
    font-size: 16px;
    color: #283136;
}
.slider-item-button{
	width: 240px;
	height: 50px;
	display: flex;
    font-size: 16px;
	line-height: 18px;
	color: rgb(219, 219, 219);
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}
/* main */
.main-content{
	min-height: 1297px;
	background-color: #fff;
}
.container-main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-job{
	display: flex;
	width: 1100px;
	min-height: 425px;
	margin-left: -60px;
	margin-top: 80px;
}
.main-job__list{
	width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-job__title{
    margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}
.main-job__description{
    margin-top: 17px;
    width: 250px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	text-transform: none;
}
.main-job__link{
	margin-top: 32px;
	display: flex;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	width: 160px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}
.red{
	background-color: #D7373B;
	opacity: 0.8;
	text-transform: uppercase;
}
.red:hover{
	opacity: 0.9;
}
.red:focus{
	opacity: 1;
}
.green{
	background-color: #00AA62;
	opacity: 0.8;
	text-transform: uppercase;
}
.green:hover{
	opacity: 0.9;
}
.green:focus{
	opacity: 1;
}
.yellow{
	background-color: #E5A722;
	opacity: 0.8;
	text-transform: uppercase;
}
.yellow:hover{
	opacity: 0.9;
}
.yellow:focus{
	opacity: 1;
}

.main-about{
	display: flex;
	width: 1160px;
}
.about-idea{
	margin: 0;
    margin-top: 77px;
}
.about-title{
	font-size: 45px;
	line-height: 45px;
	width: 650px;
	margin: 0;
	letter-spacing: 0.2px;
}
.about-description{
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	width: 650px;
	margin: 0;
    margin-top: 33px;
}
.about-devop{
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	margin-top: 39px;
	letter-spacing: 0.2px;
}
.about-devop-list{
	margin-top: 25px;
    margin-left: 36px;
}
.about-devop-item{
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 23px;
	position: relative;
}
.about-devop-item::before{
	content: "";
	width: 25px;
	height: 2px;
	background-color: #D7373B;
	position: absolute;
    left: -35px;
    top: 11px;
}
.about-date{
	margin-left: auto;
    margin-top: 43px;
}
.about-slogan{
	font-size: 16px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	margin-top: 32px;
    margin-left: 16px;
    letter-spacing: 0.15px;
}
.about-facts{
	display: flex;
    width: 347px;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 1px;
}
.about-facts-num{
	font-size: 45px;
    line-height: 45px;
    color: #000;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
}
.about-facts-num sup{
	font-size: 25px;
}
.about-facts-text{
	font-size: 16px;
    line-height: 18px;
    color: #283136;
    width: 110px;
    margin: 0;
    margin-top: 20px;
}
.main-clients-list{
	width: 1107px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.main-clients-list::before{
	content: "";
    position: absolute;
    height: 2px;
    width: 1100px;
    background-color: #F2F2F2;
    top: -5px;
}
.main-clients-list::after{
	content: "";
    position: absolute;
    height: 2px;
    width: 1100px;
    background-color: #F2F2F2;
    bottom: 1px;
}
.main-clients-item{
	position: relative;
    height: 180px;
    display: flex;
    width: 209px; 
}
.main-clients-item::after{
	content: "";
    position: absolute;
    width: 2px;
    height: 55px;
    background-color: #f2f2f2;
    top: 33%;
    right: -46px;
}
.main-clients-item:nth-of-type(4)::after{
	display: none;
}
.main-clients-link{
	opacity: 0.5;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.main-clients-link:hover{
	opacity: 1;
}.main-clients-link:focus{
	opacity: 0.2;
}
/* footer */

.footer-index{
	background-color: #fff;
	display: flex;
    flex-direction: column;
	align-items: center;
	position: relative;
}
.footer-feedback{
	position: absolute;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #f1f1f1;
	width: 960px;
	height: 590px;
	bottom: 180px;
	box-shadow: 0 5px 40px 6px #000;
}
.footer-feedback-title{
	font-size: 45px;
	line-height: 45px;
	margin: 0;
    margin-top: 75px;
    margin-left: 100px;
}
.feedback-form{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.feedback-form-item{
	display: flex;
    flex-direction: column;
}
.feedback-form-box{
	display: flex;
    justify-content: space-between;
    width: 760px;
}
.feedback-form-item input{
	width: 360px;
	height: 50px;
}
.feedback-form-item textarea{
	width: 760px;
	height: 120px;
}
.feedback-form-item label{
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer-feedback-submit{
	align-self: flex-start;
    margin-left: 97px;
	width: 260px;
	height: 50px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 30px;
}
.footer-feedback-close{
	position: absolute;
    width: 28px;
    height: 4px;
    background-color: #FB565A;
    border: none;
    right: 70px;
    top: 70px;
	transform: rotate(45deg);
	opacity: 0.4;
}
.footer-feedback-close:hover{
	opacity: 1;
}
.footer-feedback-close:focus{
	opacity: 0.1;
}
.footer-feedback-close::before{
	content: "";
	position: absolute;
    width: 28px;
    height: 4px;
    background-color: #FB565A;
    border: none;
    right: 0px;
    top: 0px;
	transform: rotate(90deg);
}
.map{
	min-height: 420px;
	background-color: #fff;
	position: relative;
}
.map::after{
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/map-marker.png");
	width: 200px;
    height: 190px;
    top: 89px;
    right: 420px;
}
.contact-us{
	position: absolute;
    width: 219px;
    height: 208px;
    background-color: #fff;
    padding: 50px;
    bottom: 58px;
    left: 140px;
}
.address__title{
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: -1px;
}
.address__description, 
.address__tel{
	font-size: 16px;
	line-height: 18px;
	color: #666;
}
.address__description{
	margin-top: 23px;
    margin-left: 1px;
    width: 201px;
}
.address__tel{
	margin-top: 18px;
    margin-left: 1px;
}
.address__submit{
	display: flex;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    width: 220px;
    height: 50px;
    align-items: center;
    justify-content: center;
	border-radius: 3px;
	margin-top: 38px;
}
.footer-down{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 225px;
	margin-left: -220px;
    margin-top: -5px;
}
.social{
	display: flex;
    width: 259px;
    justify-content: space-between;
    margin-top: -7px;
	margin-left: 7px;
    flex-wrap: wrap;
}
.social__link{
	background-color: #E1E1E1;
    display: flex;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    justify-content: center;
}
.social__link:hover{
	background-color: #E74246;
}
.social__link:focus{
	background-color: #D7373B;
}
.social__link:focus img{
	opacity: 0.3;
}
.slogan{
	display: block;
	margin-left: 140px;
	text-transform: none;
	font-size: 16px;
	line-height: 37px;
	color: #444;
}
.slogan-header{
	display: block;
	font-size: 36px;
	font-weight: bold;
	line-height: 42px;
	color: #000;
	letter-spacing: 0.6px;
}
/* catalog*/
.catalog-header{
	display: flex;
	min-height: 355px;
	flex-direction: column;
	align-items: center;
}

.main__headline{
	margin-top: 73px;
	font-size: 55px;
	text-transform: none;
	line-height: 55px;
}
.catalog-main{
	background-color: #fff;
}
.container-box{
	display: flex;
	width: 1180px;
}
.left-part{
	width: 256px;
	display: flex;
	margin-top: 55px;
}
.right-part{
	width: 760px;
	display: flex;
	flex-direction: column;
	margin-left: 154px;
}
/*фильтр*/
.range-controls{
	height: 40px;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding-top: 38px;
	padding-left: 20px;
	padding-right: 20px;
	width: 220px;
	position: relative;
	top: 49px;
    left: 11px;
}
.range-control-scale{
	height: 2px;
	background-color: #d7dcde;
	position: relative;
}
.range-control-scale::before{
	content: "";
	position: absolute;
	height: 2px;
	background-color: #00ca74;
	width:70%;
}
.range-control-toggle{
	position: relative;
	cursor: pointer;
}
.range-control-toggle::before{
	content: "";
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	position: absolute;
	background-color: #ababab;
	top: -11px;
    left: -9px;
}
.range-control-toggle::after{
	content: "";
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	position: absolute;
	background-color: #ababab;
	top: -11px;
    right: 57px;
}
.price-controls{
	margin-top: 62px;
	margin-left: 11px;
	width: 260px;
}
.price-control-max{
	margin-left: 29px;
}
.price-controls label{
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}
.price-controls input{
	width: 80px;
	height: 40px;
	border-radius: 4px;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 16px;
	color: #283136;
	border:none;
	margin-left: 10px;
}
.field-form-grid{
	margin-top: 53px;
}
.field-form-grid-pick{
	margin: 0;
    margin-left: 46px;
	margin-top: 18px;
	position: relative;
}
.field-form-grid-pick label::before{
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 4px solid #4d4d4d;
	top: -4px;
	left: -35px;
	opacity: 0.4;
}
.field-form-grid-pick label:hover::before{
	opacity: 1;
}
.field-form-grid-pick input:checked + label::after{
	content: "";
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color:  #4d4d4d;
    top: 4px;
	left: -27px;
	opacity: 0.4;
}
.field-form-grid-pick input:checked + label:hover::after{
	opacity: 1;
}
.field-form-grid-pick input:disabled + label::after{
	opacity: 0.1;
}
.field-form-grid-pick input:disabled + label::before{
	opacity: 0.1;
}
.field-form-features{
	margin-top: 45px;
}
.field-form-features-pick{
	margin: 0;
    margin-left: 47px;
	margin-top: 19px;
	position: relative;
}
.field-form-features-pick label::before{
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	border: 2px solid #4d4d4d;
	border-radius: 2px;
	left: -36px;
	top: -2px;
	opacity: 0.4;
}
.field-form-features-pick label:hover::before{
	opacity: 1;
}
.field-form-features-pick input:disabled + label::before{
	opacity: 0.1;
}
.field-form-features-pick input:checked + label::after{
	content: "";
	position: absolute;
	background-image: url(../img/shape.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 20px;
	left: -32px;
	top: -1px;
	opacity: 0.4;
}
.field-form-features-pick input:checked + label:hover::after{
	opacity: 1;
}
.field-form-features-pick input:disabled + label::after{
	opacity: 0.1;
}
.filter-form legend{
	font-size: 18px;
	text-transform:uppercase;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	margin-left: 8px;
}
.filter-form label{
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}
.form-button{
	font-size: 22px;
	line-height: 18px;
	background-color: #eee;
	margin-top: 50px;
	height: 50px;
	width: 260px;
	border: none;
	padding: 0;
	border-radius: 3px;
	margin-left: 11px;
}
.form-button:hover{
	background-color: #dfdfdf;
}
.form-button:focus{
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
	border-top: 3px solid #bbb;
	height: 47px;
}
.main__sort{
	display: flex;
	align-items: center;
	margin-top: 39px;
	text-transform: uppercase;
}
.main__sort-link{
	display: flex;
	width: 349px;
	justify-content: space-between;
	margin-left: 272px;
}
.main-header-title{
	display: none;
}
.main__title{
	font-size: 18px;
	font-weight: bold;
}
.main__link{
	font-size: 14px;
	color: #000;
	opacity: 0.3;
}
.main__link:hover{
	opacity: 0.6;
}
.main__link:focus{
	opacity: 1;
}
.main-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3px;
}
.main-list__item{
	margin-top: 33px;
	width: 360px;
	height: 616px;
}
.main-list__item img{
	width:360px;
	height:576px;
}
.main-list__item::before{
	content: "";
	display: block;
	height: 40px;
	background-image: url("../img/border-top.png");
	opacity: 0.12;
}
.main-list__item:hover>.main-list__item-hidden{
	display: flex;
}
.main-list__item:hover::before{
	opacity: 1;
}
.main-list__item-hidden{
	position: relative;
	background-color: #ddd;
	top: -38%;
	min-height: 231px;
	width: 360px;
	display: none;
	flex-direction: column;
	align-items: center;
}
.main-list__title-link{
	margin-top:26px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 30px;
	color: #000;
}
.main-list__title-link:hover{
	color: #fb565a;
}
.main-list__title-link:focus{
	color: rgba(0, 0, 0, 0.3);
}
.main-list__description{
	font-size: 16px;
	line-height: 18px;
	color: #666;
	width: 240px;
	text-align: center;
	margin-bottom: 0;
}
.main-list__link{
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background-color: #fb565a;
	width: 200px;
    text-align: center;
    padding: 16px 0;
    margin-top: 28px;
    border-radius: 3px;
}
.main-list__link:hover{
	background-color: #e74246;
}
.main-list__link:focus{
	background-color: #d7373b;
}
.pagination-container{
	width: 443px;
	height: 50px;
	display: flex;
	margin: 60px 0;
}
.pagination{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
.pagination__item{
	display: flex;
	margin-right: 11px;	
}
.pagination__link{
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #eee;
	padding: 15px 20px;
}
.pagination__link:hover{
	background-color: #dfdfdf;
}
.pagination__link:focus{
	background-color: #dfdfdf;
	color: #bbb;
}
.pagination__link:active{
	background-color: #fff;
	border: 3px solid #eee;
	padding: 12px 17px;
}
.next-link{
	padding: 15px 70px;
}
.next-link:active{
	padding: 12px 67px;
}