body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	background-color: #F2F2F2;
	min-width: 1440px;
}

a{
	text-decoration: none;
}
/* 
*{
	margin:0;
	padding:0;
}
*/

/* header */
.main-header{
	display: flex;
	min-height: 545px;
	flex-direction: column;
	align-items: center;
}
.container-header{
	width: 1160px;
	display: flex;
	align-items: center;
	margin-top: 55px;
}
.header__logo{
	margin-top: -5px;
}
.header__logo:hover{
	opacity: 0.8;
}
.header__logo:focus{
	opacity: 0.3;
}
.header__menu, 
.header__recycle{
	font-size: 16px;
	color: #000;
	line-height: 30px;
	list-style: none;
}
.header__menu{
	display: flex;
	width: 445px;
	justify-content: space-between;
	margin-left: 155px;
}
.header__recycle{
	margin-left: auto;
}
.header__recycle img{
	margin-right: 25px;
}
.header__menu__link,
.header__recycle {
	color: #000;
}

.header__menu__link:hover,
.header__recycle:hover{
	color: #FB565A;
}

.header__menu__link:focus,
.header__recycle:focus{
	color: rgba(0, 0, 0, 0.3);
}

.header__menu__link:active,
.header__recycle:active{
	border-bottom: 2px solid red;
	margin-bottom: -2px;
}
/* main */
.main-content{
	min-height: 1300px;
}

.container-main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-job{
	display: flex;
	width: 1110px;
	min-height: 425px;
	margin-left: -50px;
	justify-content: space-between;
	margin-top: 80px;
}
.main-job__list{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 300px;
}
.main-job__title{
	margin: 0;
    margin-top: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}
.main-job__description{
	margin: 0;
    margin-top: 15px;
    width: 250px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	text-transform: none;
}
.main-job__link{
	margin-top: 35px;
	display: flex;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	width: 160px;
	height: 50px;
	align-items: center;
	justify-content: center;
}
.red{
	background-color: #FB565A;
}
.red:hover{
	background-color: #E74246;
}
.red:focus{
	background-color: #D7373B;
}
.green{
	background-color: #00CA74;
}
.green:hover{
	background-color: #00BC6C;
}
.green:focus{
	background-color: #00AA62;
}
.yellow{
	background-color: #EFC84A;
}
.yellow:hover{
	background-color: #EAB534;
}
.yellow:focus{
	background-color: #E5A722;
}
.feedback{

}
.hidden{
	display:none;
}
/* footer */
.map{
	min-height: 420px;
	background-color: lightgrey;
}
.footer-index{
	background-color: #fff;
}
.footer-down{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-footer{
	display: flex;
	width: 1260px;
	min-height: 220px;
	margin-top: 50px;
}
.social{
	list-style: none;
	display: flex;
	width: 260px;
	justify-content: space-between;
	margin-left: 10px;
}

.social__link{
	background-color: #E1E1E1;
	display: flex;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	justify-content: center;
}
.social__link:hover{
	background-color: #E74246;
}
.social__link:focus{
	background-color: #D7373B;
}
.social__link:focus img{
	opacity: 0.3;
}

.slogan{
	margin-left: 140px;
	text-transform: none;
	font-size: 16px;
	line-height: 32px;
	color: #444;
}
.slogan strong{
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	color: #000;
}


/* catalog*/
.catalog-header{
	display: flex;
	min-height: 355px;
	flex-direction: column;
	align-items: center;
}

.main__headline{
	margin-top: 70px;
	font-size: 55px;
	text-transform: none;
	line-height: 55px;
	color: #000;
}
.catalog-main{
	background-color: #fff;
}
.container-box{
	display: flex;
	width: 1180px;
}
.left-part{
	width: 256px;
	display: flex;
	margin-top: 55px;
}
.right-part{
	width: 760px;
	display: flex;
	flex-direction: column;
	margin-left: 150px;
}
.field-form-grid{
	margin-top: 265px;
}
.field-form-features{
	margin-top: 45px;
}
.filter-form legend{
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000;
}
.filter-form label{
	font-size: 16px;
	line-height: 20px;
	text-transform: none;
	color: #283136;
}
.filter-form input{
	opacity: 0.4;
	background-color: #4D4D4D;
}
.filter-form input:hover{
	opacity: 1;
	background-color: #4D4D4D;
}
.form-button{
	font-size: 22px;
	line-height: 18px;
	background-color: #eee;
	margin-top: 50px;
	height: 50px;
	width: 260px;
	border: none;
	padding: 0;
	border-radius: 3px;
}
.form-button:hover{
	background-color: #dfdfdf;
}
.form-button:focus{
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
	border-top: 3px solid #bbb;
	height: 47px;
}
.main__sort{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}
.main__sort-link{
	display: flex;
	width: 360px;
	justify-content: space-between;
}
.main__title{
	font-size: 18px;
	font-weight: bold;
}
.main__link{
	font-size: 14px;
	color: #000;
	opacity: 0.3;
}
.main__link:hover{
	opacity: 0.6;
}
.main__link:focus{
	opacity: 1;
}
.main-list{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 8px;
}
.main-list__item{
	list-style: none;
	margin-top: 32px;
	width: 360px;
	height: 616px;
}

.top-border-container{
	display: block;
	margin: 0;
	padding: 0;
	height: 40px;
	background-color: #ddd;
	border-radius: 3px 3px 0 0;
}
.top-border{
	display: flex;
	width: 60px;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 16px;
}
.top-border-circle{
	margin: 0;
	padding: 0;
	width: 14px;
	height: 14px;
	background-color: #fff;
	margin-top: 13px;
	border-radius: 50%;
}
.main-list__item:hover>.top-border-container{
	background-color: #4d4d4d;
}
.main-list__item:hover>.main-list__item-hidden{
	display: flex;
}
.main-list__item-hidden{
	position: relative;
	background-color: #ddd;
	top: -39%;
	min-height: 231px;
	width: 360px;
	z-index: 1;
	display: none;
	flex-direction: column;
	align-items: center;
}
.main-list__title-link{
	margin-top:30px;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: black;
}
.main-list__title-link:hover{
	color: #fb565a;
}
.main-list__title-link:focus{
	color: rgba(0, 0, 0, 0.3);
}
.main-list__description{
	font-size: 16px;
	line-height: 18px;
	color: #666;
	text-transform: none;
	width: 240px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 0;
}
.main-list__link{
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background-color: #fb565a;
	width: 200px;
    text-align: center;
    padding: 16px 0;
    margin-top: 27px;
    border-radius: 3px;
}
.main-list__link:hover{
	background-color: #e74246;
}
.main-list__link:focus{
	background-color: #d7373b;
}
.pagination-container{
	width: 443px;
	height: 50px;
	display: flex;
	margin: 60px 0;
}
.pagination{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}
.pagination__item{
	display: flex;
	margin-right: 11px;	
}
.pagination__link{
	color: #000;
	font-size: 16px;
	background-color: #eee;
	padding: 15px 20px;
}
.pagination__link:hover{
	background-color: #dfdfdf;
}
.pagination__link:focus{
	background-color: #dfdfdf;
	color: #bbb;
}
.pagination__link:active{
	background-color: #fff;
	border: 3px solid #eee;
	padding: 12px 17px;
}
.next-link{
	padding: 15px 70px;
}
.next-link:active{
	padding: 12px 67px;
}